<div class="flex-box">


  <div class="left">

    <div class="header">
      <img class="icone" src="./assets/Portal/icon fundação.svg" alt="icon">
      <h1>Portal de Eventos</h1>
    </div>
    
    
    <form>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">  
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      
      <div class="botoes">
        <button type="submit" class="BotaoEntrar">Entrar</button>
        <button type="submit" class="btn btn-default" (click)="irParaTipoCadastro()">Cadastre-se</button>
      </div>

    </form>
   
<div class="parte-de-baixo"> 
  <h5 class="letra_verde">Dúvida? Entre em contato</h5>
  <h5>Comunicacao@fsnt.com.br (14)3405-2033 </h5>
  
  <img class="logoFSNT" src="./assets/Portal/LOGO FUNDAÇÃO.svg" alt="">
</div>
      
    
  </div>
     


  <div class="right">
    <img class="imagem" src="./assets/Portal/fotoFSNT.svg" alt="">
  </div>

  

</div>

