h1{
    color: green;
    margin-top: 40px;
    size: 38px;
    font-weight: bold;

}

.flex-box{
    display: flex; 
}

.flex-box .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.BotaoEntrar{
    background: #FF9F10;
    color: white;
    border-radius: 50px;
    width: 132px;
    height: 45px;
    border: none;
}

.header{

}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.letra_verde {
    color: green;
}

.icone{
    width: 94px;;
    height: 81px;
    align-items: center;
}

.botoes{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.form-control{
    background: #F1F0F5;
    width: 447px;
    height: 45px;
    border-radius: 50px;
    border: none;
}


.right{
    width: 872px;
    height: 855px;
}





.flex-box .right img{
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
    position: fixed;
}

.form-label{
    font-family: 'Montserrat', sans-serif;
}


input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #7D7D81;
}
.flex-box .left .botoes button{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

.flex-box .left .botoes button .BotaoEntrar{
    color: #FFFFFF;
}
.flex-box .left .botoes button .btn-default{
    color: #5F5C6B;
}


/* -----------FOOTER--------------- */

.flex-box .left .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:  700px;
}

.flex-box .left .footer img{
    width: 250px;
}

.flex-box .left .footer .tittle-footer{
    width: 216px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00A54E;
}