// VARIAVEIS DE COR
:root {
  --font-primary: "Montserrat", sans-serif;
  --color-one: #00a54e;
  --color-two: #ffae10;
  --color-three: #89c400;
  --color-four: #f1d302;
  --color-five: #ec3137;
  --color-white: #ffffff;
  --color-black: #000000;
  --gray-100: #33303e;
  --gray-200: #7a7a7a;
  --gray-300: #c6c5ce;
  --gray-400: #c1c1c1;
  --gray-500: #e5e5e5;
  --gray-600: #f1f0f5;
}
