<div class="container" let user of table>
    <form action="patch" class="forms">
        <div class="modal-header">
            <h2 class="title-h2-bold">
                Redefinir Senha
            </h2>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
            <div class="flex-box-form">
                <div class="form-left">
                    <div class="dados">
                        <label for="" class="tittle-form">Senha</label>
                        <input type="password" formControlName="senha" class="input-form">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="button-register">Redefinir</button>
            </div>
    
        </div>
    </form>
</div>