#conteudo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 80px;
}

h1{
    color: var(--gray-100, #4E4B59);
      font-size: 32px;
      font-family: Montserrat;
      font-weight: 700;
  }

button{
    border-radius: 25px;
    background-color: #00A54E;
    border: none;
}
//CARDS
.row {
    width: 1500px;
    min-width: 1300px;
    margin-top: 40px;
}

.cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.card {
    width: 392px;
    height: 217px;
    filter: drop-shadow(3px 5px 22px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    padding: 26px;
    border: none;
    display: flex;
    flex-direction: column;

    .titleCard{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        color: var(--gray-200);
        margin-bottom: 12px;
    }

    .date{
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        margin: 0;
    }

    .status{
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 47px;

        .statu{
            display: flex;
            align-items: center;
            gap: 16px;

            .info{
                display: flex;
                flex-direction: column;
                gap: 5px;

                .negrito{
                    margin: 0;
                    font-weight: 600;
                }

                p{
                    margin: 0;
                }
            }
        }
    }
}
  


