<!-- NavBar com logo e Título-->
<!-- <div id="navbar">
  <div id="logo">
    <img src="../../../assets/images/logo.png">
  </div>
  <div id="navbar-adm">
    <a routerLink='/empresas'><img src="../../../assets/icon/briefcase.svg">
      <p routerLink='/empresas'>Empresas</p>
    </a>
    <a routerLink='/eventos'><img src="../../../assets/icon/home.svg">
      <p routerLink='/eventos'> Home</p>
    </a>
    <a routerLink='/pessoas'><img src="../../../assets/icon/user.svg">
      <p routerLink='/pessoas'>Convidados</p>
    </a>
    <a routerLink='/home/listausuario'><img src="../../../assets/icon/settings.svg">
      <p routerLink='/home/listausuario'>Usuário</p>
    </a>
    <app-cabecalho></app-cabecalho>
    <a routerLink='/'><img src="../../../assets/icon/log-out.svg">
      <p routerLink='/'>Sair</p>
    </a>
  </div>

</div> -->

<app-header></app-header>

<!-- NavBar com logo e Título-->
<div id="navbar">
  <!-- <div id="logo">
     <img src="../../../assets/images/logo.png">
   </div> -->
   <!-- <div id="navbar-adm">
    <a routerLink='/lista-eventos' ><img src="../../../../assets/icon-presenca/home.svg">
      <p routerLink='/lista-eventos' > Home</p></a>  
     <a routerLink='/lista-empresas'   ><img src="../../../../assets/icon-presenca/briefcase.svg"> 
     <p routerLink='/lista-empresas' >Empresas</p></a>    
     
    <a routerLink='/lista-convidados'><img src="../../../../assets/icon-presenca/user.svg">
    <p routerLink='/lista-convidados'>Convidados</p></a>
    <a routerLink='/lista-usuario'><img src="../../../../assets/icon-presenca/settings.svg">
    <p routerLink='/lista-usuario'>Usuário</p></a>
    <a routerLink='/'  (click)="logout()"><img src="../../../../assets/icon-presenca/log-out.svg">
    <p routerLink='/' (click)="logout()" >Sair</p></a>
  </div> -->
      
<div id="conteudo">
  <h1>Lista de Eventos</h1>
  <button (click)="add()" class="btn btn-primary"><img src="../../../../assets/icon-presenca/plus-circle.svg">Novo Evento</button>
</div>


<div *ngFor="let evento of listaEvento">

<!-- CARDS -->
<div class="row" routerLink="/evento_convidados/{{evento.id_evento}}" *ngIf="listaEvento.length>0,else semEvento">

  <!-- <div class="card"  >
    <h2 class="titulo-card"> {{evento.descricao}}</h2><br>
    <p>{{evento.data_hora | date:'dd/MM/yyyy'}}</p>
    <br><br>
    <div class="posicao-img">
      <div class="qnt-confirmado">
        <p class="titulo">{{evento.confirmados}}</p><br>
        <p>Confirmado</p>
      </div>
      <img class="img-confirmado" src="../../../../assets/icon-presenca/check-box.svg" alt="" />

      <img class="img-convidado" src="../../../../assets/icon-presenca/invite-line.svg" alt="" />
      <div class="qnt-convidado">
        <p class="titulo">{{evento.total}}</p><br>
        <p>Convidado</p>
      </div>
    </div> -->

    <div class="card"  >
      <h2 class="titulo-card"> Descrição</h2><br>
      <p>11:30 | data: 29/06/2023</p>
      <br><br>
      <div class="posicao-img">
        <div class="qnt-confirmado">
          <p class="titulo">Festa junina</p><br>
          <p>Confirmado</p>
        </div>
        <img class="img-confirmado" src="../../../../assets/icon-presenca/check-box.svg" alt="" />
  
        <img class="img-convidado" src="../../../../assets/icon-presenca/invite-line.svg" alt="" />
        <div class="qnt-convidado">
          <p class="titulo">festa junina</p><br>
          <p>Convidado</p>
        </div>
      </div>
  </div>
</div>
</div>
<ng-template #semEvento> <p>Não há eventos cadastrados</p></ng-template>
