
.flex-box{
    display: flex;
    align-items: center;
    margin: 15px;
}


.flex-box .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95vh;
    margin: 0 10px;
    position: absolute;
    top: 0;
}
.flex-box .left .tittle-register{
    align-items: center;
    display: flex;
    gap: 20px;
}

.flex-box .left .tittle-register img{
    height: 70px;
    width: 79px;

}

.flex-box .left .tittle-register h1{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #00A54E;
}


.flex-box .right .image-register img{
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
}

.flex-box .left form{
    display: flex;
    flex-direction: column;
    gap: 73px;
    align-items: center;
    justify-content: center;
}

.flex-box .left form .flex-box{
    gap: 24px;;
}

.flex-box .left form .row input{
    width: 392px;
    height: 40px;
    background: #F1F0F5;
    border-radius: 50px;
    border: none;
}
    
.flex-box .left form .row input::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #C6C5CE;
}

.flex-box .left form .row label{
    height: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: rgba(47, 48, 51, 0.6);
}

.btn-primary{
    width: 154px;
    height: 56px; 
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    align-items: center;
    text-align: center;

    color: #FFFFFF; 

    background: #FF9F10;
    border-radius: 50px;
    border:none;
}


/* -----------FOOTER--------------- */

.flex-box .left .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:  700px;
}

.flex-box .left .footer img{
    width: 250px;
}

.flex-box .left .footer .tittle-footer{
    width: 216px;
    height: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #00A54E;
}



.flex-box {
    display: flex;
    align-items: center;
    margin: 15px;
  }
  
  /* Estilos para telas grandes */

  
@media only screen and (min-width: a\) {
    .flex-box .left {
        margin: 0 10px;
    }
    .flex-box .right .image-register img {
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        position: fixed;
    }
}

/* Estilos para telas médias */
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .flex-box .left {
        margin: 0;
        height: auto;
    }
    .flex-box .left form .row input {
        width: 100%;
    }
    .flex-box .left form .row label {
        width: 100%;
    }
    .flex-box .right .image-register img {
        display: none;
    }
    
}
  
/* Estilos para telas pequenas */
@media only screen and (max-width: 767px) {
    .flex-box .right .image-register img {
        display: none;
    }
    .flex-box .left .tittle-register h1 {
        font-size: 24px;
    }
    .flex-box .left .tittle-register img {
        height: 50px;
        width: 57px;
    }
    .flex-box .left .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex-box .left .footer img {
        width: 150px;
    }
    .flex-box .left .footer .tittle-footer {
        width: 100%;
        text-align: center;
    }
    .flex-box .left form {
        margin-top: 30px;
    }
    .flex-box .left form .row input {
        width: 100%;
        margin-bottom: 20px;
    }
    .flex-box .left form .row label {
        width: 100%;
        margin-bottom: 10px;
    }
    .btn-primary {
        width: 100%;
        margin-top: 20px;
    }
}
