<div class="flex-box">
    <div class="left">
        <div class="tittle-register">
            <img src="../../assets/Portal/icon fundação (1).svg" alt="Logo Fundandação">
            <h1>Por favor, insira seus dados...</h1>


        </div>
        
        <form>
            <div class="flex-box">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                          <label for="exampleInput">Usuário</label>
                          <input type="text" class="form-control" id="exampleInputUser" placeholder="Usuário">
                        </div>
            
                        <div class="form-group">
                          <label for="exampleInput">Telefone</label>
                          <input type="tel" class="form-control" id="exampleInputPhone" placeholder="Telefone">
                        </div>
            
                        <div class="form-group">
                          <label for="exampleInputPassword1">Senha</label>
                          <input type="password" class="form-control" id="exampleInputPassword" placeholder="Senha">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInput">Empresa</label>
                            <input type="text" class="form-control" id="exampleInputBusiness" placeholder="Empresa">
                        </div>
            
                        <div class="form-group">
                            <label for="exampleInput">Cargo</label>
                            <input type="text" class="form-control" id="exampleInputUser" placeholder="Cargo">
                        </div>
            
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail Corporativo</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Enviar</button>  
            </div>
        
        </form>
        
        <div class="footer">
            <img src="../../assets/Portal/icon fundação (2).svg" alt="">
            <div class="info">
                <label class="tittle-footer">Dúvida? entre em contato</label>
                <div>
                    <label class="email-footer">comunicacao@fsnt.com.br</label>
                    <label class="tel-footer">(14) 3405-2033</label>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="right">
        <div class="image-register">
            <img src="../../assets/Portal/image 39.svg" alt="">
        </div>
    </div>
    
</div>
