

//Corpo da página

h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    
}

button{
    position: absolute;
    right: 265px;
    margin-top: 30px;
    background-color: #00A54E;
    border-radius: 25px;
    border: none;
}

p{
    text-align: center;
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;

}

//table
table {

    width: 1000px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    overflow: scroll; 
    
}

th:first-child {
    border-radius: 25px 0 0 0; /* Adicione o border-radius desejado */
  }

  th:last-child {
    border-radius: 0 25px 0 0; /* Adicione o border-radius desejado */
  }



th, td {

 border: none;
 padding: 8px;
 text-align: center;
 
}


th {
 background-color: #00A54E;
}

tr:nth-child(even) {
 background-color: #f3f3f3;
}

tr:hover {
 background-color: #e6e6e6;
}