<div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="dropdown-active button-dropdown"
            aria-controls="dropdown-basic">
            <img src="../../../../assets/Icons/icon-eventos-calendario.svg" alt="">
            Eventos
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
        <li role="menuitem" class="li-dropdown">
            <a class="dropdown-item" href="#">
                <img src="../../../../assets/Icons/icon-eventos-calendario.svg" alt="">
                Calendário
            </a>
        </li>
        <li role="menuitem">
            <a class="dropdown-item" href="#">
                <img src="../../../../assets/Icons/icon-eventos-novoevento.svg" alt="">
                Novo Evento
            </a>
        </li>
    </ul>
</div>

