<div class="eventos">
    <div class="dropdown" id="dropdown" data-open="false">
        <label for="dropdown-toggle" class="dropdown-active button">
            <img src="../../../../assets/Icons/icon-mapa.svg" alt="">
            <span id="dropdown-selected" class="text">Eventos</span>
        </label>
        <input class="dropdown-toggle" type="checkbox" name="dropdown-toggle" id="dropdown-toggle" aria-controls="dropdown-list">
        <ul class="dropdown-list" id="dropdown-list">
            <li data-option="home" class="button"><img src="../../../../assets/Icons/icon-eventos-calendario.svg" alt="">Lista de Eventos</li>
            <li data-option="convidados" class="button"><img src="../../../../assets/Icons/icon-eventos-novoevento.svg" alt="">Novo Evento</li>
        </ul>
    </div>
  </div>