<div class="header">
    <div class="container">
        <div class="left">
            <a routerLink="/home">
                <img src="../../../assets/Icons/icon-fundacao.svg" alt="" class="icon-header">

            </a>
            <nav>
                <app-funcions-eventos></app-funcions-eventos>
                <app-funcions-espacos></app-funcions-espacos>
                <app-funcions-convidados></app-funcions-convidados>
            </nav>
        </div>
        <div class="right">
            <nav>
                <app-funcions-users></app-funcions-users>
                <div class="button-logout" (click)=logout()>
                    <button class="logout">Sair</button>
                    <img src="../../../assets/Icons/icon-sair.svg" alt="Icon">
                </div>
            </nav>
        </div>
    </div>
</div>