<div class="container">
    <div class="left">
        <img src="../../../assets/Icons/icon-fundacao.svg" alt="Icone da Fundação FSTN" class="icon-tittle">
        <div class="title">
            <h1>Portal FSNT</h1>
        </div>
        <div class="login">
            <form (ngSubmit)="doLogin()" class="form">
                    <input [(ngModel)]="email"  name="email" class="input" type="text" placeholder="E-mail">
                    <input [(ngModel)]="senha"  name="senha" class="input" type="password" placeholder="Senha">
            </form>
            <div class="buttons">
                <button class="button-entrar"(click)=doLogin()>Entrar</button>
                <button class="button-cadastro" (click)=irParaTipoCadastro()>Cadastre-se</button>
            </div>
        </div>
        <div class="footer">
            <div class="text">
                <label class="tittle-footer">Dúvida? entre em contato</label>
                <div class="contact">
                    <label for="">comunicacao@fsnt.com.br</label>
                    <label for="">(14) 3405-2033</label>
                </div>
            </div>
            <div class="icon">
                <img src="../../../assets/Icons/icon-fundacao-text.svg" alt="Icone da Fundação FSTN" class="image-footer">
            </div>
        </div>
    </div>
    <img src="../../../assets/Portal/image-login.svg" alt="" class="image-right">
</div>