.header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #eaeaea solid;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1422px;
}

.icon-header{
    height: 40px;
}

.left{
    display: flex;
    gap: 50px;
}

nav{
    display: flex;
    align-items: center;
    gap: 30px;
}

.button{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 28px;
    padding: 0 5px;
}

.button:hover{
    border-bottom: 2px #00A54E solid;
}


button{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #4E4B59;
    background-color: #FFF;
    border: none;
}

.button-logout{
    display: flex;
    align-items: center;
    padding: 6px 10px;
    background: #00A54E;
    border-radius: 16px;
    gap: 5px;
}

.logout{
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    color: #F1F0F5;
}


.menu-nav{
    display: flex;
    gap: 44px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-nav{
    text-decoration: none;
    display: flex;
    align-items: center;
}
a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #4E4B59;
    display: flex;
    align-items: center;
    gap: 5px;
}

.button-nav:hover{
    border-bottom: 2px #00A54E solid;

}




   