<div class="header">
    <div class="container">
        <div class="left">
            <a routerLink="/home">
                <img src="../../../assets/Icons/icon-fundacao.svg" alt="" class="icon-header">
            </a>
            <nav>
                <ul class="menu-nav">
                    <li class="button-nav">
                        <a routerLink="/visualizar">
                            <img src="../../../../assets/Icons/icon-mapa.svg" alt="">
                            Vizualizar Solicitações
                        </a>
                    </li>
                    <li class="button-nav">
                        <a routerLink="/solicitar">
                            <img src="../../../../assets/Icons/icon-espacos.svg" alt="">
                            Solicitar Espaços
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="right">
            <nav>
                <div class="button-logout" (click)=logout()>
                    <button class="logout">Sair</button>
                    <img src="../../../assets/Icons/icon-sair.svg" alt="Icon">
                </div>
            </nav>
        </div>
    </div>
</div>