

// .container-eventos {
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-top: 41px;
//   gap: 20px;
//   #input-cad-eventos {
//     width: 457px;
//     height: 42px;
//     border: 1px solid grey;
//   }
//   .align-input-eventos {
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     gap: 20px;
//     max-width: 500px;
//     justify-content: center;
//     .input-icon {
//       #select {
//         width: 244px;
//         height: 42px;
//       }
//       #select:focus{
//         outline: none;
//       }
//     }
//     .input-file {
//       display: none;
//     }

//     label {
//       position: relative;
//       width: 457px;
//       height: 42px;
//       border-radius: 25px;
//       border: 1px solid grey;
//       margin: auto 0;
//       padding-left: 45px;
//       line-height: 49px;
//       color: grey;
//       font-size: 0.8rem;
//       font-family:  sans-serif;
//     }
//     .icon-file {
//       position: absolute;
//       left: 15px;
//       top: 17px;
//     }

//     #arquivo{
//       display: none;
//     }

//     .lugar-input {
//       width: 457px;
//       font-family: sans-serif;
//       font-size: 0.8rem;
//     }

//     #descricao:focus {
//       outline: none;
//     }

//     textarea {
//       line-height: 25px;
//       padding-left: 40px;
//       height: 120px;
//       border-radius: 16px;
//     }

//     #descricao::placeholder{
//       font-size: 0.8rem;
//       font-family: sans-serif;
//     }
//     span {
//       color: black;
//       font-size: 1rem;
//       margin-top: 50px;
// margin-left: 15px;
      
//     }

//     .inputs-img{
//       display: flex;
//       flex-direction: row;
//       justify-content: center;
//       align-items: center;
//       gap: 10px;
//       margin: 0 auto;
//       label {
//         cursor: pointer;
//         position: relative;
//         width:250px;
//         height: 120px;
//         background: #D9D9D9;
//         border: none;
//         img {
//           position: absolute;
//           left: 50%;
//           top: 50%;
//           transform: translate(-50%, -50%);
//         }
//       }
//       input {
//         display: none;
//       }

//     }
//     .align-btn-cad-eventos1{
//       display: flex;
//       justify-content: space-between;
//       width: 100%;
//       margin: 20px 5px;
//       button {
//         border: none;
//         width: 120px;
//         border-radius: 25px;
//       }
//     }
//   }
// }


// .container{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   width: 1422px;
//   min-width: 1422px;
// }

// #body{
//   width: 100%;
//   display: flex;
//   gap: 32px;
//   align-items: baseline;
// }

// // ===== BOTÕES DO TITLE =======

// .buttons{
//   margin-top: 32px;
//   width: 100%;
//   display: flex;
//   gap: 12px;
//   align-items: center;
//   justify-content: flex-start;
// }

// .users{
//   padding: 10px;
//   gap: 10px;
//   border: 2.5px solid var(--color-one);
//   border-radius: 16px;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 100%;
//   color: var(--color-one);
//   background-color: transparent;
//   transition: 0.1s;
// }

// .users:hover{
//   padding: 10px;
//   background-color: var(--color-one);
//   color: var(--color-white);
// }


// .register-adm{
//   padding: 10px;
//   gap: 10px;
//   border: 2.5px solid var(--color-three);
//   background-color: var(--color-three);
//   border-radius: 16px;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 100%;
//   color: #FFFFFF;
//   transition: 0.1s;
// }

// .register-adm:hover{
//   padding: 10px;
//   color: var(--color-white);
//   border: 2.5px solid var(--color-three);
//   color: var(--color-three);
//   background-color: transparent;
// }

// .pending{
//   padding: 10px;
//   gap: 10px;
//   border: 2.5px solid var(--color-two);
//   background-color: transparent;
//   border-radius: 16px;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 100%;
//   color: var(--color-two);
//   transition: 0.1s;
// }

// .pending:hover{
//   padding: 10px;
//   background-color: var(--color-two);
//   color: var(--color-white);
// }





// /* -----------FORM--------- */

// .flex-box-form{
//   display: flex;
//   align-items: center;
//   gap: 24px;
//   margin-bottom: 73px;
// }

// .forms{
//   text-align: center;
//   margin-top: 100px;
// }


// .tittle-form{
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 100%;
//   color: rgba(47, 48, 51, 0.6);
//   margin-left: 33px;
// }

// .input-form{
//   width: 392px;
//   height: 40px;
//   background: #F1F0F5;
//   border-radius: 50px;
//   border: none;
//   font-family: 'Montserrat', sans-serif;
//   padding-left: 36px;
//   font-weight: 300;
//   font-size: 16px;
//   line-height: 100%;
//   color: #2F3033;
// }

// .input-form::placeholder{
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 100%;
//   font-family: 'Montserrat', sans-serif;
//   color: #C6C5CE;
// }

// .dados{
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   gap: 12px;
// }


// .form-right{
//   display: flex;
//   flex-direction: column;
//   gap:24px;
// }

// .form-left{
//   display: flex;
//   flex-direction: column;
//   gap:24px;
// }

// .button-register{
//   background: #FF9F10;
//   border-radius: 50px;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 100%;
//   color: #FFFFFF;
//   height: 56px;
//   width: 154px;
//   border: none;
// }


// /* ------FOOTER------- */

// .image-footer{
//   width: 163px;
//   height: 50px;
// }

// .tittle-footer{
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 100%;
//   color: #00A54E;
// }

// .contact{
//   display: flex;
//   align-items: center;
//   gap: 16px;
// }

// .footer{
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 50px;
// }

// .text{
//   display:flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 10px;
// }

.container{
  width: 1250px;
  display: flex;
  justify-content: center;

  #body{
    width: 100%;

    h3{
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      color: var(--gray-200);
      text-align: start;
      margin: 40px 0  ;
    }

    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;

      .flex-box-form{
        display: flex;
        gap: 25px;
      }

      .buttons{
        display: flex;
        justify-content: space-around;

        button{
          border-radius: 50px;
          width: 154px;
          height: 56px;
          border: none;
          font-weight: 600;
          font-size: 16px;
          color: var(--color-white);
  
        }
        .button-register{
          background-color: var(--color-one);
        }
        .button-cancel{
          background-color: var(--color-five);
        }
      }
    }

  }
  
}



