<div class="flex-box">
    <div class="left">
  
      <img class="icone" src="./assets/Portal/icon fundação.svg" alt="icon">
        <div class="header">
            <h1>Tipo de usuário</h1>
        </div>

        <div class="botoes">
           
            <button type="submit" class="btn btn-info" (click)="irParaCadastro()">Solicitante de Espaços</button>

            <button type="submit" class="btn btn-info" (click)="irParaCadastro()">Vizualidaor de Convidados</button>

        </div>
      
      
      
     
      <div class="footer">
        <div class="info">
            <label class="letra_verde">Dúvida? entre em contato</label>
            <div class="contato">
                <label class="email-footer">comunicacao@fsnt.com.br</label>
                <label class="tel-footer">(14) 3405-2033</label>
            </div>
        </div>
        <img src="../../assets/Portal/icon fundação (2).svg" alt="">
    </div>
        
      
    </div>
  
    <div class="right">
      <img class="imagem" src="./assets/Portal/fotoFSNT.svg" alt="">
    </div>
  </div>





