<app-header></app-header>
<div class="body">
  <div class="container">
    <section id="title">
      <h2>Lista de Espaços</h2>
      <div class="buttons">
        <button class="btn1" routerLink="/espacos-novo">
          Novo Espaço
        </button>
      </div>
    </section>

    <!--Início da tabela-->

    <section id="body">
      <table>
        <thead>
          <tr>
            <th>NOME</th>
            <th>PROXIMIDADE</th>
            <th>DESCRIÇÃO</th>
            <th>AÇÕES</th>
          </tr>

        </thead>
        <tbody *ngFor="let rows of table">

          <tr >
            <td>{{ rows.nome }}</td>
            <td>{{ rows.ponto_referencia }}</td>
            <td class="max200">{{ rows.descricao }}</td>
            <td class="center" (click)="openModal_deletar_espaco(rows)"><img src="../../../../assets/Icons/icon-lixeira-white.svg"
                alt=""></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>