<app-header></app-header>

<div class="container">
  <section id="body">
    <div class="tittle">
      <div class="botoes">
        <section id="buttons">
          <h3>Lista de Usuários</h3>
          <div class="buttons">
            <button class="users" routerLink="/users">Usuários</button>
            <button class="pending" routerLink="/users-pending">
              Pendente
            </button>
            <button class="register-adm" routerLink="/register-adm">
              Cadastrar Adiministrador
            </button>
          </div>
        </section>
        <div class="right">
          <div class="tipo">
            <select name="select">
              <option value="" selected>Tipo</option>
              <option value="valor1">Solicitante</option>
              <option value="valor2">visualizador</option>
              <option value="valor3">Administrador</option>
            </select>
          </div>
          <div class="search-box">
            <input type="text" class="search-text" placeholder="Pesquisar..." />
            <a href="" class="search-btn">
              <img src="../../assets/Portal/icon-lupa.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="lista">
      <table class="tabela" >
        <thead class="principal">
          <th>NOME</th>
          <th>INSTITUIÇÃO</th>
          <th>E-MAIL</th>
          <th>CARGO</th>
          <th>CONTATO</th>
          <th>TIPO</th>
        </thead>
  
        <tbody class="dados"*ngFor="let user of table">
          <td>{{ user.nome }}</td>
          <td>{{ user.id_instituicao }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.cargo }}</td>
          <td>{{ user.telefone }}</td>
          <td>{{ user.nivel_acesso }}</td>
        </tbody>
  
      </table>

      
      <!-- <button (click)="abrirModal()">Entrar</button> -->
    </div>







  </section>
</div>
