<app-header></app-header>
<div class="container">
  <section id="body">
    <h3>Cadastrar Novo Adiministrador</h3>
    <div class="buttons">
      <button class="users" routerLink="/users">Usuários</button>
      <button class="pending" routerLink="/users-pending">Pendente</button>
      <button class="register-adm">Cadastrar Adiministrador</button>
    </div>
  </section>


  <form action="" class="forms" [formGroup]="form">
    <div class="flex-box-form">
      <div class="form-left">
        <div class="dados">
          <label for="" class="tittle-form">Nome</label>
          <input
            type="text"
            placeholder="Nome Completo"
            class="input-form"
            formControlName="nome"
          />
        </div>

        <div class="dados">
          <label for="" class="tittle-form" >Telefone</label>
          <input maxlength="15" [value]="form.get('telefone')!.value! | phone" appOnlyNumbers type="tel" placeholder="(14) 99999-9999" class="input-form" formControlName="telefone" />
        </div>
        <div class="dados">
          <label for="" class="tittle-form">Senha</label>
          <input
            type="password"
            placeholder="*************"
            class="input-form"
            formControlName="senha"
          />
        </div>
      </div>
      <div class="form-right">
        <!-- <div class="dados">
          <label for="" class="tittle-form">Empresa</label>
          <input type="text" placeholder="Fundação FSNT" class="input-form" formControlName="instituicao"/>
          
        </div> -->
        <div class="dados">
          <label for="" class="tittle-form">Instituição</label>
          <select formControlName="instituicao" name="text" class="select" id="select" class="input-form w704"
            placeholder="Nome do Evento">
            <option value="0"> Selecione uma Instituiçao </option>
            <option *ngFor="let empresa of empresa" name="empresa" value={{empresa.id}}> {{empresa.nome }} </option>
          </select>
        </div>
        <div class="dados">
          <label for="" class="tittle-form">Cargo</label>
          <input type="text" placeholder="Analista" class="input-form" formControlName="cargo"/>
        </div>
        <div class="dados">
          <label for="" class="tittle-form">E-mail Corporativo</label>
          <input
            type="email"
            placeholder="email@email.com"
            class="input-form"
            formControlName="email"
          />
        </div>
      </div>
    </div>
    <div class="buttons-footer">
      <button type="button" class="button-cancel" (click)="onCancel()">Cancelar</button>
      <button type="submit" class="button-register " (click)="onSubmit()">Cadastrar</button>
    </div>
  </form>
</div>
