<app-header></app-header>
<div class="container">
    <section id="body">
        <h3>Cadastrar Novo Adiministrador</h3>
        <div class="buttons">
            <button class="users"routerLink="/users">Usuários</button>
            <button class="pending" routerLink="/users-pending" >Pendente</button>
            <button class="register-adm">Cadastrar Adiministrador</button>
        </div>
    </section>

    <form action="" class="forms">
        <div class="flex-box-form">
            <div class="form-left">
                <div class="dados">
                    <label for="" class="tittle-form">Usuário</label>
                    <input type="text" placeholder="fundacao.nishimura" class="input-form">
                </div>
                <div class="dados">
                    <label for="" class="tittle-form">Telefone</label>
                    <input type="text" placeholder="(14) 99999-9999" class="input-form">
                </div>
                <div class="dados">
                    <label for="" class="tittle-form">Senha</label>
                    <input type="password" placeholder="*************" class="input-form">
                </div>
            </div>
            <div class="form-right">
                <div class="dados">
                    <label for="" class="tittle-form">Empresa</label>
                    <input type="text" placeholder="Fundação FSNT"class="input-form">
                </div>
                <div class="dados">
                    <label for="" class="tittle-form">Cargo</label>
                    <input type="text" placeholder="Analista" class="input-form">
                </div>
                <div class="dados">
                    <label for="" class="tittle-form">E-mail Corporativo</label>
                    <input type="email" placeholder="email@email.com" class="input-form">
                </div>
            </div>
        </div>
        <button class="button-register">Cadastrar</button>
    </form>
</div>