<app-header></app-header>
<div class="container">
    <section id="body">
        <h3>Usuário Pendentes</h3>
        <div class="buttons">
            <button class="users" routerLink="/users">Usuários</button>
            <button class="pending" routerLink="/users-pending">Pendente</button>
            <button class="register-adm" routerLink="/register-adm">Cadastrar Adiministrador</button>
        </div>
    </section>

    <section id="list">
      <table class="tabela">
        <tr class="principal">
          <td class="table-nome title-table">NOME</td>
          <td class="title-table">INSTITUIÇÃO</td>
          <td class="title-table">E-MAIL</td>
          <td class="title-table">CONTATO</td>
          <td class="title-table">TIPO</td>
          <td class="title-table">STATUS</td>
        </tr>
  
        <tr class="dados" *ngFor="let user of table">
          <td>{{ user.nome }}</td>
          <td>{{ user.id_instituicao }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.telefone }}</td>
          <td>{{ user.nivel_acesso }}</td>
          <td>{{ user.status_usuario }}</td>
        </tr>


      </table>
      <!-- <td (click)="openModalWithComponent()"><label class="adm">Adiministrador</label></td> -->
    </section>
</div>