// .container{
//     width: 854px;
//     // padding: 24px;
//     // background: #ffffff;
//     // border-radius: 24px;
//     // box-shadow: 0px 4px 250px 71px rgba(0, 0, 0, 0.25);
//     padding: 64px;
// }

// /* ----------TITTLE-------- */

// .title{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin-bottom: 40px;
// }


// /* -----------FORM--------- */

// .flex-box-form{
//     display: flex;
//     gap: 24px;
// }

// .forms{
//     text-align: center;
//     margin-bottom: 100px;
// }


// .tittle-form{
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 100%;
//     color: rgba(47, 48, 51, 0.6);
//     margin-left: 33px;
// }

// .input-form{
//     width: 392px;
//     height: 40px;
//     background: #F1F0F5;
//     border-radius: 50px;
//     border: none;
//     font-family: 'Montserrat', sans-serif;
//     padding-left: 36px;
//     font-weight: 300;
//     font-size: 16px;
//     line-height: 100%;
//     color: #2F3033;
// }

// .input-form::placeholder{
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 100%;
//     font-family: 'Montserrat', sans-serif;
//     color: #C6C5CE;
// }

// .dados{
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 12px;
// }


// .form-right{
//     display: flex;
//     flex-direction: column;
//     gap:24px;
// }

// .form-left{
//     display: flex;
//     flex-direction: column;
//     gap:24px;
//     align-items: center;
// }

// .button-register{
//     background: #FF9F10;
//     border-radius: 50px;
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 100%;
//     color: #FFFFFF;
//     height: 56px;
//     width: 154px;
//     border: none;
//     margin-top: 20px;

// }


// /* ------FOOTER------- */

// .image-footer{
//     width: 163px;
//     height: 50px;
// }

// .tittle-footer{
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 100%;
//     color: #00A54E;
// }

// .contact{
//     display: flex;
//     align-items: center;
//     gap: 16px;
// }

// .footer{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 50px;
// }

// .text{
//     display:flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 10px;
// }

// .title-h2-bold{
//     color: var(--gray-200)
// }

// .modal-body{
//     width: 100%;
// }

// .modal-content{
//     background: transparent;
// }


.modal{
    width: 8000px;
  }