<!-- <div class="container">
    <form action="" class="forms">
        <div class="modal-header">
            <h2 class="title-h2-bold">
                Alterar Dados
            </h2>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
    
            <div class="flex-box-form">
                <div class="form-left">
                    <div class="dados">
                        <label for="" class="tittle-form">Usuário</label>
                        <input type="text" placeholder="fundacao.nishimura" class="input-form">
                    </div>
                    <div class="dados">
                        <label for="" class="tittle-form">Telefone</label>
                        <input type="text" placeholder="(14) 99999-9999" class="input-form">
                    </div>
                    
                </div>
                <div class="form-right">
                    <div class="dados">
                        <label for="" class="tittle-form">Empresa</label>
                        <input type="text" placeholder="Fundação FSNT"class="input-form">
                    </div>
                    <div class="dados">
                        <label for="" class="tittle-form">Cargo</label>
                        <input type="text" placeholder="Analista" class="input-form">
                    </div>
                    <div class="dados">
                        <label for="" class="tittle-form">E-mail Corporativo</label>
                        <input type="email" placeholder="email@email.com" class="input-form">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="button-register">Alterar</button>
            </div>
    
        </div>
    </form>


</div> -->
<!-- <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul *ngIf="list.length">
      <li *ngFor="let item of list">{{item}}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div> -->