  
<app-header></app-header>

<!-- NavBar com logo e Título-->
<div id="navbar">


   
<div class="conteudo">
  <h1>Lista de Empresas</h1>
  <button (click)="add()" class="btn btn-primary"><img src="../../../../assets/icon-presenca/plus-circle.svg">Empresa</button>
</div>


  <!--<table *ngIf="listaEmpresa.length>0 , else semEmpresa">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Editar</th>
        <th>Excluir</th>
        </tr>
    </thead>
    <tbody >
    <tr *ngFor="let empresa of listaEmpresa">
      <td> {{empresa.empresa}}</td>
 
      <td><img (click)="edit(empresa.empresa,empresa.empresa)" src="../../../../assets/icon-presenca/caneta_black.svg"></td>
      <td><img (click)="delet(empresa.empresa)" src="../../../../assets/icon-presenca/🦆 icon _trash 2_black.svg _trash 2_.svg"></td>
    </tr>
  </tbody>

    <div >

 
    </div>
  </table>





<ng-template #semEmpresa>
  <p>Ainda não há usuários cadastrados</p>
</ng-template> -->

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Editar</th>
      <th>Excluir</th>
      </tr>
  </thead>

  <tr>
    <td>Jacto Clean</td>
    <td><a><img src="../../../../assets/icon-presenca/caneta_black.svg"></a></td>
    <td><a><img src="../../../../assets/icon-presenca/🦆 icon _trash 2_black.svg"></a></td>
  </tr>

  <tr>
    <td>Fundação Shunji Nishimura de tecnologia</td>
    <td><a><img src="../../../../assets/icon-presenca/caneta_black.svg"></a></td>
    <td><a><img src="../../../../assets/icon-presenca/🦆 icon _trash 2_black.svg"></a></td>
  </tr>

  <tr>
    <td>Orion</td>
    <td><a><img src="../../../../assets/icon-presenca/caneta_black.svg"></a></td>
    <td><a><img src="../../../../assets/icon-presenca/🦆 icon _trash 2_black.svg"></a></td>
  </tr>

  <tr>
    <td>Brudden</td>
    <td><a><img src="../../../../assets/icon-presenca/caneta_black.svg"></a></td>
    <td><a><img src="../../../../assets/icon-presenca/🦆 icon _trash 2_black.svg"></a></td>
  </tr>
  </table>
