<app-header-solicitante></app-header-solicitante>

<div class="container">
  <div class="form">
    <!--Ínicio do header-->
    <div class="titulo">
      <h2>Olá, Solicitante.</h2>
      <h3 class="solicitante">Visualize aqui o espaço que foi agendado</h3>
    </div>

    <!--Início da tabela-->

    <div class="table">
      <table class="content-table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Horário</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rows of solicitacoes">
            <td>{{ rows.data_inicio | date : "dd/MM/yyyy" }}</td>
            <td>{{ rows.hora_inicio | timeFormat }}</td>
            <td>{{ rows.espaco_nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
