<app-header-solicitante></app-header-solicitante>

<div class="container">
  <div class="form">
    <!--Ínicio do header-->
    <div class="titulo">
      <h2>Olá, Solicitante.</h2>
      <h3 class="solicitante">Visualize aqui o espaço que foi agendado</h3>
    </div>

    <!--Início da tabela-->

    <div class="table">
      <table class="content-table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Horário</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rows of solicitacoes">
            <td>{{ rows.data_inicio | date : "dd/MM/yyyy" }}</td>
            <td>{{ rows.hora_inicio | timeFormat }}</td>
            <td>{{ rows.espaco_nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <footer>
      <hr class="line" />
      <div class="rodape">
        <img src="../../../../assets/Espaços/logo_transparente.png" class="logo_fsnt" />
        <h3 class="subtitulo">Dúvidas? entre em contato</h3>

        <p class="num1">comunicacao@fsnt.com.br</p>
        <p class="num2">(14) 3405-2033</p>
      </div>
    </footer>
  </div>
</div>
