<div class="modal-modal">
    <div class="modal-top">
        <label class="modal-title">Editar convidado</label>
     <a>   <img (click)="cancelar()" src="../../../../assets/icon-presenca/x.svg"></a>
    </div>
    <form [formGroup]="form" (submit)="editar()">
     
        <div class="modal-label opcao1"><label>Status</label>
            <select  formControlName="condicao">
                <option>Confirmado</option>
                <option>Pendente</option>
                <option>Negado</option>
            </select> 
        </div>

        <div class="modal-label opcao1"><label>Anunciado</label>
            <select  formControlName="anunciado">
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>
        </div>

        <div class="modal-label opcao1"><label>Presença</label>
            <select  formControlName="presenca">
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select> 
        </div>   
        <button class="modal-button" (click)="salvar()" class="btn btn-primary"> Salvar alterações  </button>
    </form>
</div>    