<app-header></app-header>

<div class="container">
   <div class="form">
    <!--Ínicio do header-->
    <div class="titulo">
      <h2>Olá, Administrador(a)</h2>
      <h3 class="solicitante">Veja aqui seus agendamentos pendentes</h3>
    </div>

    <!--Início da tabela-->

    <div class="table">
      <table class="content-table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Horário</th>
            <th>Local</th>
            <th>Ações</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody *ngFor="let rows of exibirsolicitacoes">
          <tr *ngIf="rows.status_solicitacao === 0">
            <td>{{  rows.data_inicio | date:'dd/MM/yyyy' }}</td>
            <td>{{  rows.hora_inicio }}</td>
            <td>{{  rows.espaco_nome  }}</td>
            <td (click)="openModal_aceitar(rows)">Aceitar ou negar</td>
            <td>Pendente</td>
          </tr>
        </tbody>
      </table>
    </div>

    <footer>
      <hr class="line" />
      <div class="rodape">
        <img src="../../../../assets/Espacos/logo_transparente.png" class="logo_fsnt" />
        <h3 class="subtitulo">Dúvidas? entre em contato</h3>

        <p class="num1">comunicacao@fsnt.com.br</p>
        <p class="num2">(14) 3405-2033</p>
      </div>
    </footer>
  </div>
</div>
