.flex-box-form{
    display: flex;
    align-items: center;
    gap: 24px;
}

.forms{
    text-align: center;
}


.tittle-form{
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: rgba(47, 48, 51, 0.6);
    margin-left: 33px;
}

.input-form{
    width: 392px;
    height: 40px;
    background: #F1F0F5;
    border-radius: 50px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    padding-left: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: #2F3033;
}

.input-form::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #C6C5CE;
}

.dados{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.w704{
    width: 704px;
}
.w704{
    width: 704px;
}
.w250{
    width: 250px;
}
.w184{
    width: 184px;
}

.descri{
    width: 704px;
    height: 153px; 
    padding: 8px; 
    border-radius: 24px;
    padding-left: 32px;
}

.image{
    width: 402px;
    height: 402px;
    text-align: center;
    border-radius: 24px;
    font-size: 0px;
}

.collun2{
    display: flex;
    gap: 24px;
}

.form-left, .form-right{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.pad{
    padding: 24px;
}
