.container{
    position: absolute;
    background: #ffffff;
    border-radius: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 894px;
    height: 220px;

    .title{

        display: flex;
        align-items: center;
        gap: 159px;

        h1{
            color: #5F5C6B;
            /* Título/h1 bold */
            font-size: 32px;
            font-family: Montserrat;
            font-weight: 600;
            line-height: 100%;
        }

        img{
            width: 30px;
            height: 30px;
            flex-shrink: 0;
        }
    }
    p{
        color: var(--escala-de-cinza-300, #5F5C6B);
        text-align: center;
        /* Título/h2 */
        font-size: 24px;
        font-family: Montserrat;
        line-height: 100%;
    }
    
}