<app-header></app-header>
<div class="container">
  <div class="form">
    <!--Ínicio do header-->
    <div class="titulo">
      <h2>Olá, Administrador(a)</h2>
      <h3 class="solicitante">Veja aqui seus agendamentos confirmados</h3>
    </div>

    <!--Início da tabela-->

    <div class="table">
      <table class="content-table">
        <thead>
          <tr>
            <th>Data</th>
            <th>Horário</th>
            <th>Local</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rows of table">
            <td>{{ rows.data_inicio }}</td>
            <td>{{ rows.hora_inicio }}</td>
            <td>{{ rows.espaco_nome }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

